* {
  margin: 0;
}

:root {
  /* Colors */
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);
  --dark-gray: hsl(240, 6%, 21%);

  /* Sizes */
  --size-1: 1.5rem;
  --size-2: 3rem;
  --size-3: 10rem;
  --size-4: 11.5rem;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  color: var(--gray);
  background: url(images/Mobile.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.container {
  margin: auto;
  max-width: 250px;
  text-align: center;
}

.avatar {
  margin: var(--size-4) auto 0;
  width: var(--size-3);
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: var(--size-3);
  height: var(--size-4);
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  margin-top: var(--size-1);
  font-size: var(--size-1);
}

a {
  margin-top: 0.25rem;
  color: var(--gray);
  text-decoration: none;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.setSocialMediasButton {
  cursor: pointer;
  width: var(--size-3);
  height: var(--size-2);
  position: fixed;
  bottom: var(--size-1);
  right: 0;
  border: none;
  border-radius: var(--size-2) 0 0 var(--size-2);
  font-size: 2rem;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  background-color: var(--dark-gray);
}